body {
    font-family: Arial;
    background: #202124;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #2b2b2b;
    padding: 40px;
    border-radius: 12px;
    width: 420px;
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.create {
    background: #1a73e8;
    color: white;
}

.join {
    background: #34a853;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
}

.hidden {
    display: none;
}